.imgs{
   height:50px;
   width: 50px;
   flex-wrap: wrap;
}
.imggallery{
   display: flex;
   flex-wrap: wrap;
   
    
}
.h4h1{
    margin: 0;
}
.footermain{
    display: flex;
}
p{
    font-size: smaller;
}
.footerleft{
    width: 50%;
    margin:20px
}
.footermid{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.p12{
    margin: 0px;
    line-height: 0px;
}
.footerright{
    width:25%
}